<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Adoption Agency {% endblock %}

<!-- Body Content -->
{% block body %}

<h1>Adoption Agency</h1>
<h2>Featured Pet</h2>
<div>
    <div class="card w-10 h-10" style="width: 18rem">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <img src="{{ random_pet.photo_url }}" alt="Photo of {{ random_pet.name }} unavailable (Sorry probably not alive)">
      <div class="card-body">
      </div>
    </div>

    <p>
      <span>
        <a href="/{{ random_pet.id }}">
        {{ random_pet.name }}</a>
      </span>
      <span>
        <b>
          {% if random_pet.available %}
            is available!
          {% else %}
            is already in a loving home! (RIP)
          {% endif %}
        </b>
      </span>
    </p>
  </div>

<h2>All Our Pets</h2>
<div>
{% for pet in pets %}
  <div>
    <div class="card w-10 h-10" style="width: 18rem">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <img src="{{ pet.photo_url }}" alt="Photo of {{ pet.name }} unavailable (Sorry probably not alive)">
      <div class="card-body">
      </div>
    </div>

    <p>
      <span>
        <a href="/{{ pet.id }}">
        {{ pet.name }}</a>
      </span>
      <span>
        <b>
          {% if pet.available %}
            is available!
          {% else %}
            is already in a loving home! (RIP)
          {% endif %}
        </b>
      </span>
    </p>
  </div>
{% endfor %}
</div>

<div>
  <a href="/add">
  <button class="btn btn-success" type="button">Add Pet</button></a>
</div>

{% endblock%}