<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Adoption Agency {% endblock %}

<!-- Body Content -->
{% block body %}

<!-- pet item is passed -->

<div>
  <h2>Name: {{ pet.name }}</h2>
  {% if pet.photo_url%}
  <img src="{{ pet.photo_url }}" alt="Photo of {{ pet.name }} unavailable (Sorry probably not alive)">
  {% endif%}
  <ul>
    <li>
      Age: {{ pet.age }} year old
    </li>
    <li>
      Species: {{ pet.species }}
    </li>
  </ul>
</div>

<div>
  <form action="/{{ pet.id }}" method="POST">
    {% include 'base_form.html' %}
  </form>
</div>

{% endblock%}