<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Adoption Agency {% endblock %}

<!-- Body Content -->
{% block body %}

<!-- pet item is passed -->

<div>
  <h2>Name: {{ pet.name }}</h2>
  <ul>
    {% if pet.photo_url%}
    <li>
      <img src="{{ pet.photo_url }}" alt="Photo of {{ pet.name }} unavailable (Sorry probably not alive)">
    </li>
    {% endif%}
    <li>
      Age: {{ pet.age }} year old
    </li>
    <li>
      Species: {{ pet.species }}
    </li>
  </ul>
</div>

<div>
  <form action="/{{ pet.id }}" method="POST">
  
    {{ form.hidden_tag() }}
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field }}
  
      {% for error in field.errors %}
      {{ error }}
      {% endfor %}
    </p>
    {% endfor %}
  
    <button type="submit">Submit</button>
  
  </form>
</div>

{% endblock%}